/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-weight: 300;
  margin: 0;
}

.body-container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #444;
  margin: 0;
}

header h1 {
  color: #92b3fc;
  margin-top: 0;
  margin-bottom: 10px;
}

header p {
  margin-top: 4px;
  margin-bottom: 0;
}

header a, header p {
  text-decoration: none;
  color: #EEE;
  font-size: 18px;
}

.flash {
  background-color:#92b3fc;
  font-size: 20px;
}

.flash p {
  text-align:center;
}
